.satellite {
    z-index: 1;
    display:inline-block;
    position: absolute;
    line-height: 2vh;
    color:white;
    width: 10vw;
    height: 2vh;
    text-align: center;
    font-size: 2vh;
    top: 59.9%;
    left: 45%;
    opacity: 0;
}

.fa-satellite {
    color: #058ED9;
}

.spot-me {
    font-size: 2vh;
    opacity: 1;
    animation-name: spotme;
    animation-duration: 3s;
}

@keyframes spotme {
    0% {font-size: 2vh}
    17% {font-size: 5vh}
    33% {font-size: 2vh}
    50% {font-size: 5vh}
    66% {font-size: 2vh}
    82% {font-size: 5vh}
    100% {font-size: 2vh}
}